@import "./mixins";

$veryDarkBlue: hsl(200, 15%, 8%);

//!---------Light move------------

$white: hsl(0, 0%, 100%);
$veryLightGrey: hsl(0, 24%, 94%);
$fontColorDark: hsl(205, 26%, 17%);

//!---------Dark move------------

$mainBlue: hsl(205, 26%, 17%);
$darkBlue: hsl(209, 23%, 22%);
$fontColorWhite: hsl(0, 0%, 100%);
