@import "../Utils/mixins";
@import "../Utils/variables";

.header {
  transition: 0.3s ease;
  padding: 20px 36px;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 100;
  @media (max-width: 360px) {
    padding: 20px;
  }
  display: flex;
  justify-content: space-between;
  a,
  .modeToggle {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  .title {
    font-size: 24px;
    transition: 0.2s ease;
    @media (max-width: 480px) {
      font-size: 14px;
    }
    &:hover {
      color: rgb(85, 176, 255) !important;
    }
  }
  .modeToggle {
    cursor: pointer;
  }
}
